<p id="notice"><%= notice %></p>

<p>
  <strong>Rutcliente:</strong>
  <%= @cliente.rutcliente %>
</p>

<p>
  <strong>Nombrecliente:</strong>
  <%= @cliente.nombrecliente %>
</p>

<p>
  <strong>Apellidoscliente:</strong>
  <%= @cliente.apellidoscliente %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @cliente.direccion %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @cliente.celular %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @cliente.correo %>
</p>

<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Atras', clientes_path %>
