<%= form_for(@detalle_factura) do |f| %>
  <% if @detalle_factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detalle_factura.errors.count, "error") %> prohibited this detalle_factura from being saved:</h2>

      <ul>
      <% @detalle_factura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :factura_id %><br>
    <%= f.select( "factura_id",Factura.all.collect{|l| [l.Idfactura, l.id ] }, {include_blank: 'Selecciona Factura'}) %>​
  </div>
  <div class="field">
    <%= f.label :producto_id %><br>
    <%= f.select( "producto_id",Producto.all.collect{|l| [l.nombreproducto, l.id ] }, {include_blank: 'Selecciona Producto'}) %>​
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
