<p id="notice"><%= notice %></p>

<p>
  <strong>Factura:</strong>
  <%= @detalle_factura.factura.Idfactura %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @detalle_factura.producto.nombreproducto %>
</p>

<%= link_to 'Editar', edit_detalle_factura_path(@detalle_factura) %> |
<%= link_to 'Atras', detalle_facturas_path %>
