<%= form_for(@factura) do |f| %>
  <% if @factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factura.errors.count, "error") %> prohibited this factura from being saved:</h2>

      <ul>
      <% @factura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Idfactura %><br>
    <%= f.number_field :Idfactura %>
  </div>
  <div class="field">
    <%= f.label :rutcliente %><br>
    <%= f.select( "cliente_id",Cliente.all.collect{|l| [l.rutcliente, l.id ] }, {include_blank: 'Selecciona Rut del Cliente'}) %>​
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :cliente_id %><br>
    ​<%= f.select( "cliente_id",Cliente.all.collect{|l| [l.nombrecliente, l.id ] }, {include_blank: 'Selecciona Cliente'}) %>​
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
