<center><h1>Facturas</h1></center>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id Factura</th>
      <th>Rut Cliente</th>
      <th>Fecha</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facturas.each do |factura| %>
      <tr>
        <td><%= factura.Idfactura %></td>
        <td><%= factura.rutcliente %></td>
        <td><%= factura.fecha %></td>
        <td><%= factura.cliente.nombrecliente %></td>
        <td><%= link_to 'Ver', factura %></td>
        <td><%= link_to 'Editar', edit_factura_path(factura) %></td>
        <td><%= link_to 'Eliminar', factura, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Factura', new_factura_path %>
