<%= form_for(@categorium) do |f| %>
  <% if @categorium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categorium.errors.count, "error") %> prohibited this categorium from being saved:</h2>

      <ul>
      <% @categorium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Idcategoria %><br>
    <%= f.number_field :Idcategoria %>
  </div>
  <div class="field">
    <%= f.label :nombrecategoria %><br>
    <%= f.text_field :nombrecategoria %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :producto_id %><br>
    <%= f.select( "producto_id",Producto.all.collect{|l| [l.nombreproducto, l.id ] }, {include_blank: 'Selecciona Producto'}) %>​
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
