<p id="notice"><%= notice %></p>

<p>
  <strong>Idproducto:</strong>
  <%= @producto.Idproducto %>
</p>

<p>
  <strong>Nombreproducto:</strong>
  <%= @producto.nombreproducto %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @producto.stock %>
</p>

<p>
  <strong>Idcategoria:</strong>
  <%= @producto.Idcategoria %>
</p>

<%= link_to 'Editar', edit_producto_path(@producto) %> |
<%= link_to 'Atras', productos_path %>
